@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cormorant  {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}
.font-bitter {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }